.cards .icon-box {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    background: #fff;
  }
  
  .cards .icon-box .icon {
    margin-bottom: 10px;
  }
  
  .cards .icon-box .icon i {
    color: $brand;
    font-size: 36px;
    transition: 0.3s;
  }
  
  .cards .icon-box h4 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .cards .icon-box h4 a {
    color: $brand;
    transition: ease-in-out 0.3s;
  }
  
  .cards .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .cards .icon-box:hover {
    transform: translateY(-10px);
  }
  
  .cards .icon-box:hover h4 a {
    color: $brand-hover;
  }