//* Custom color scheme
$brand: black;
$brand-action: #ffffff;
$brand-accent: #f7b500;
$brand-rev: #eee;
$brand-hover: #121317;

//* Core variable overrides
//* WARNING! These are applied globally even when no classes are used (e.g. w/o `bg-primary`)
//* Do not proceed unless you know what you are doing!
// $body-bg: $var;
// $body-color: $var;
// $link-color: $var;
// $link-hover-color: $var;
// $border-color: $var;
// $border-color-translucent: rgba($primary-lt, 0.25);
// $component-active-color: $var;
// $component-active-bg: $var;

//* Import Functions and Variables from Bootstrap
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/variables";

//* Add custom spacing (margin/padding) to the Bootstrap variables
$my-spacers: (
  6: $spacer * 4.5,
  7: $spacer * 6,
  8: $spacer * 7.5,
  9: $spacer * 9,
);
$spacers: map-merge($spacers, $my-spacers);

//* Add custom variables to the Bootstrap variables
$my-theme: (
  "primary": $primary,
  "brand": $brand,
  "brand-action": $brand-action,
  "brand-accent": $brand-accent,
  "brand-rev": $brand-rev,
);
$theme-colors: map-merge($theme-colors, $my-theme);

//* Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

//* Modules
@import "Hero";
@import "Cards";
@import "CTA";
@import "FAQ";

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: $brand;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: $brand;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

.nav-arkane {
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
}

footer {
  font-family: Montserrat;
  h5 {
    text-transform: uppercase;
    padding-bottom: $spacer * 0.5;
    font-weight: 600;
  }
  ul {
    text-transform: none;
  }
}
