//* Custom color scheme
$brand: #202d4c;
$brand-action: #065f7b;
$brand-accent: #f7b500;
$brand-rev: #f7f7f7;

//* Core variable overrides
//* WARNING! These are applied globally even when no classes are used (e.g. w/o `bg-primary`)
//* Do not proceed unless you know what you are doing!
// $body-bg: $secondary;
// $link-color: $primary;
// $link-hover-color: $primary-lt;
// $border-color: $primary-lt;
// $border-color-translucent: rgba($primary-lt, 0.25);
// $component-active-color: $primary-lt;
// $component-active-bg: $primary-dk;

//* Import Functions and Variables from Bootstrap
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/variables";

//* Add custom spacing (margin/padding) to the Bootstrap variables
$my-spacers: (
  6: $spacer * 4.5,
  7: $spacer * 6,
  8: $spacer * 7.5,
  9: $spacer * 9,
);
$spacers: map-merge($spacers, $my-spacers);

//* Add custom variables to the Bootstrap variables
$my-theme: (
  "primary": $primary,
  "brand": $brand,
  "brand-action": $brand-action,
  "brand-accent": $brand-accent,
  "brand-rev": $brand-rev,
);
$theme-colors: map-merge($theme-colors, $my-theme);

//* Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
